<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navigation">
    <header class="u-clearfix u-gradient u-header u-header" id="sec-e7d6">
        <div class="u-clearfix u-sheet u-sheet-1">

            <a sec:authorize="isAuthenticated()"
               href="/home" class="u-image u-logo u-image-1" data-image-width="980" data-image-height="980">
                <img th:src="@{/images/DIMOlogo.png}" class="u-logo-image u-logo-image-1" data-image-width="92">
            </a>

            <a sec:authorize="!isAuthenticated()"
               href="/" class="u-image u-logo u-image-1" data-image-width="980" data-image-height="980">
                <img th:src="@{/images/DIMOlogo.png}" class="u-logo-image u-logo-image-1" data-image-width="92">
            </a>

            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse u-custom-font u-font-Lobster"
                     style="font-size: 1.25rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="#">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </symbol>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-custom-font u-font-Lobster u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"
                            sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                               style="padding: 10px 28px;">Admin Panel</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-white"
                                                              style="padding: 10px 28px;" th:href="@{/admin/statistics}">Statistics</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-white"
                                                              style="padding: 10px 28px;" th:href="@{/admin/roles}">Roles</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                th:href="@{/about}" style="padding: 10px 28px;">About</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                th:href="@{/contact}" style="padding: 10px 28px;">Contact</a>
                        </li>

                        <li class="u-nav-item" sec:authorize="isAuthenticated()"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                th:href="@{/stories/all}" style="padding: 10px 28px;">Stories</a>
                        </li>
                        <li class="u-nav-item"
                            sec:authorize="isAuthenticated()">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                               style="padding: 10px 28px;">Menu</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-white"
                                                              th:href="@{/stories/add}">Add Story</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-white"
                                                              th:href="@{/products/add}">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item"
                            sec:authorize="isAuthenticated()">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                               href="/profile" style="padding: 10px 28px;">Profile</a>
                        </li>

                        <li class="u-nav-item"
                            sec:authorize="!isAuthenticated()">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                               th:href="@{/users/login}"
                               style="padding: 10px 28px;">Login</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                               sec:authorize="!isAuthenticated()"
                               th:href="@{/users/register}"
                               style="padding: 10px 28px;">Register</a>
                        </li>
                        <li class="u-nav-item"
                            sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="POST">
                                <button type="submit" class="btn-logout">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-5">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                          style="padding: 10px 28px;">About</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html"
                                                          style="padding: 10px 28px;">Contact</a>
                                </li>
                                <li class="u-nav-item"
                                    sec:authorize="isAuthenticated()">
                                    <a class="u-button-style u-nav-link"
                                       style="padding: 10px 28px;">Menu</a>
                                    <div class="u-nav-popup">
                                        <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-6">
                                            <li class="u-nav-item"><a class="u-button-style u-nav-link">Add Story</a>
                                            </li>
                                            <li class="u-nav-item"><a class="u-button-style u-nav-link">Add Product</a>
                                            </li>
                                            <li class="u-nav-item"><a class="u-button-style u-nav-link">Products</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"
                                       sec:authorize="isAuthenticated()"
                                       href="/users/profile"
                                       style="padding: 10px 28px;">Profile</a>
                                <li class="u-nav-item">
                                <li class="u-nav-item">
                                    <a sec:authorize="!isAuthenticated()"
                                       th:href="@{/users/login}"
                                       class="u-button-style u-nav-link">Login</a>
                                </li>
                                <li class="u-nav-item">
                                    <a sec:authorize="!isAuthenticated()"
                                       th:href="@{/users/register}"
                                       class="u-button-style u-nav-link">Register</a>
                                </li>
                                <li class="u-nav-item"
                                    sec:authorize="isAuthenticated()">
                                    <form th:action="@{/logout}" method="POST">
                                        <button type="submit" class="btn-logout">Logout</button>
                                    </form>
                                </li>
                            </ul>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
</div>

</body>

<footer th:fragment="footer">
    <div class="u-align-center u-clearfix u-stick-footer u-gradient u-footer" id="sec-f670">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-custom-font u-font-Lobster u-text u-text-1">&nbsp;Contact me: +35912345678&nbsp;</p>
            <h6 class="u-custom-font u-font-Lobster u-text u-text-2">Address: Varna&nbsp;</h6>
            <h6 class="u-custom-font u-font-Lobster u-text u-text-3">Business time: 08:00 - 17:00&nbsp;<br>
                <br>
            </h6>
            <p class="u-small-text u-text u-text-variant u-text-4">Get closer to your future!&nbsp;<br>Cafuneck Group
                2021
            </p>
        </div>
    </div>
</footer>

</html>