<!DOCTYPE html>
<html style="font-size: 16px;"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="/css/Main.css">
    <link rel="stylesheet" href="/css/About.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

</head>

<body class="u-body">

<header th:replace="fragments/fragment::navigation"></header>

<section class="u-align-center u-clearfix u-image u-section-1" id="sec-89d2" data-image-width="962"
         data-image-height="1253">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div id="carousel-5989" data-interval="5000" data-u-ride="carousel"
             class="u-carousel u-expanded-width-sm u-expanded-width-xs u-slider u-slider-1">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-5989" class="u-active u-grey-30" data-u-slide-to="0"></li>
                <li data-u-target="#carousel-5989" class="u-grey-30" data-u-slide-to="1"></li>
            </ol>
            <div class="u-carousel-inner" role="listbox">
                <div class="u-active u-align-center u-carousel-item u-container-style u-slide">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                        <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280"
                             data-image-height="716">
                        </div>
                        <p class="u-large-text u-text u-text-variant u-text-1"
                           style="white-space: pre-line">Hello!
                            My name is Dimo.
                            I'm the creator of this page.
                            I offer you a special website where you can find professional music equipment and
                            technique.</p>
                        <h4 class="u-text u-text-2">Dimo Dimitrov<br>
                        </h4>
                        <h6 class="u-text u-text-3">Creator, ADMIN</h6>
                    </div>
                </div>
                <div class="u-carousel-item u-align-center u-container-style u-slide">
                    <div class="u-container-layout u-container-layout-2">
                        <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1280"
                             data-image-height="716">
                        </div>
                        <p class="u-large-text u-text u-text-variant u-text-1" style="white-space: pre-line">Sound is magic.
                            Music is a passion.
                            I present you to become part of an innovative and modern digital environment where you can
                            find everything for a HI-FI fan.</p>
                        <h4 class="u-text u-text-2">Dimo Dimitrov<br>
                        </h4>
                        <h6 class="u-text u-text-3">President, CEO</h6>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-carousel-control-1"
               href="#carousel-5989" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847">
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
            </svg>
          </span>
                <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847">
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
            </svg>
          </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-carousel-control-2"
               href="#carousel-5989" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847">
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
          </span>
                <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847">
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
          </span>
            </a>
        </div>
    </div>
</section>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>