<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/Main.css" type="text/css">
    <link rel="stylesheet" href="/css/Home.css" type="text/css">
    <link rel="stylesheet" href="/css/error.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

</head>

<body>

<div th:replace="fragments/fragment::navigation"></div>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1><span>E</span><span>R</span><span>R</span><span>O</span><span>R</span></h1>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>Oppss.. Sorry about that!!! The page you are looking has been eaten by bug.</p>
    </div>
</div>


</body>
<footer th:replace="fragments/fragment::footer"></footer>

</html>