<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css" type="text/css">
    <link rel="stylesheet" href="/css/Main.css" type="text/css">
    <link rel="stylesheet" href="/css/Home.css" type="text/css">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

</head>

<body>

<div th:replace="fragments/fragment::navigation"></div>

<div class="wrapper">
    <h1>Hmm... Something went wrong!</h1>
    <p>It seems that you're lost in a perpetual black hole. <b>Please excuse us, we are working on it...</b></p>
    <div class="buttons"><a href="#">back</a><a href="#">home</a><br/><span>Help me out</span></div>
</div>
<div class="space">
    <div class="blackhole"></div>
    <div class="ship"></div>
</div>
</body>

</html>