<!DOCTYPE html>
<html style="font-size: 16px;"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Product details</title>
    <link rel="stylesheet" href="/css/Main.css">
    <link rel="stylesheet" href="/css/product-details.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

</head>

<body class="u-body">

<header th:replace="fragments/fragment::navigation"></header>

<section class="u-clearfix u-image u-section-1" id="carousel_8295" data-image-width="962" data-image-height="1253">
    <form th:object="${product}"
          th:action="@{/products/buy/{id}(id = *{id})}"
          th:method="GET">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img alt=""
                 style="display: flex;
                    object-fit: cover;
                    justify-content: center;
                    align-items: center;
                    max-width: 1000px;
                    max-height: 760px;
                    cursor:pointer"
                 onclick="onClick(this)"
                 class="w3-hover-opacity u-image-round u-image-1"
                 th:src="*{imageUrl}">

            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom">
                    <img id="img01" style="width:100%">
                </div>
            </div>

            <div class="u-container-style u-custom-color-1 u-group u-radius-25 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-text u-text-1" style="color: darkviolet" th:text="|Brand: *{brand}|" name="brand">
                        Brand: JBL</h2>
                    <h3 class="u-text u-text-2" style="color: darkviolet" th:text="|Model: *{model}|">Model: JBL</h3>
                    <h4 class="u-text u-text-3" style="color: darkviolet" th:text="|Category: *{categoryName}|">
                        Category:Speakers</h4>
                    <h4 class="u-text u-text-4" style="color: darkviolet" th:text="|Price: *{price}€|">Price: 300$</h4>
                    <h4 class="u-text u-text-5" style="color: darkviolet" th:text="|Color: *{color}|">Color: black</h4>
                    <h5 th:unless="*{warranty < 0}" style="color: #b21f2d" class="u-text u-text-6"
                        th:text="|Warranty: *{warranty} months|">Warranty: 2 monts</h5>
                    <h5 th:unless="*{manufactureDate == null}" style="color: #b21f2d" class="u-text u-text-7"
                        th:text="|Manufacture: *{manufactureDate}|">Manufacture date: 1995-10-03</h5>
                    <p class="u-small-text u-text u-text-variant u-text-8" style="text-align:justify"
                       th:text="*{details}">
                        Sample text. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-group u-radius-25 u-shape-round u-group-2">
                <div class="u-container-layout u-container-layout-2">

                    <button th:if="${!creator}"
                            class="u-active-grey-15 u-border-2 u-border-active-grey-15 u-border-grey-25 u-border-hover-grey-15 u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius-50 u-text-black u-btn-3"
                            type="submit"><b>BUY</b></button>
                    <a th:if="${editAccess}"
                       th:href="@{/products/edit/{id}(id = *{id})}"
                    class="u-active-grey-15 u-border-2 u-border-active-grey-15 u-border-grey-25 u-border-hover-grey-15 u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-3-light-1 u-radius-50 u-text-black u-btn-1">EDIT</a>

                    <a th:if="${editAccess}"
                       th:href="@{/products/delete/{id}(id = *{id})}"
                    class="u-active-grey-15 u-border-2 u-border-active-grey-15 u-border-grey-25 u-border-hover-grey-15 u-btn u-btn-round u-button-style u-custom-color-2 u-hover-custom-color-3 u-radius-50 u-text-black u-btn-2">DELETE</a>
                </div>
            </div>
        </div>
    </form>
</section>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>