<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Product.css">
    <link rel="stylesheet" href="/css/Main.css" media="screen">
    <title>Add Product</title>

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
</head>

<div th:replace="fragments/fragment::navigation"></div>

<body>

<main class="content-wrap">

    <h1 class="border-bottom" style="text-align:center; color: yellow;">Add your product:</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/products/add}"
              th:object="${productAddBindingModel}"
              method="POST"
              enctype="multipart/form-data"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="brand" style="display: block; text-align: center;"><b>Brand name</b></label>
                    <input th:field="*{brand}"
                           th:errorclass="is-invalid"
                           id="brand" type="text" class="form-control" placeholder="Brand name">
                    <small th:if="${#fields.hasErrors('brand')}"
                           th:errors="*{brand}"
                           id="brandError" class="form-text bg-danger rounded">Brand name must be between 3 and 20
                        characters</small>
                </div>
                <div class="col">
                    <label for="model" style="display: block; text-align: center;"><b>Model name</b></label>
                    <input th:field="*{model}"
                           th:errorclass="is-invalid"
                           id="model" type="text" class="form-control" placeholder="Model name">
                    <small th:if="${#fields.hasErrors('model')}"
                           th:errors="*{model}"
                           id="modelError" class="form-text bg-danger rounded">Model name must be between 3 and 20
                        characters</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="price"><b>Price</b></label>
                    <input th:field="*{price}"
                           th:errorclass="is-invalid"
                           id="price" type="number" class="form-control" placeholder="Price">
                    <small th:if="${#fields.hasErrors('price')}"
                           th:errors="*{price}"
                           id="priceError" class="form-text bg-danger rounded">Price must be positive</small>
                </div>
                <div class="col">
                    <label for="color"><b>Color</b></label>
                    <input th:field="*{color}"
                           th:errorclass="is-invalid"
                           id="color" type="text" class="form-control" placeholder="Color">
                    <small th:if="${#fields.hasErrors('color')}"
                           th:errors="*{color}"
                           id="colorError" class="form-text bg-danger rounded">Copies must be positive</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="manufactureDate"><b>Manufacture date</b></label>
                    <input th:field="*{manufactureDate}"
                           th:errorclass="is-invalid"
                           id="manufactureDate"
                           type="date"
                           class="form-control"
                           placeholder="Manufacture date">
                    <small th:if="${#fields.hasErrors('manufactureDate')}"
                           th:errors="*{manufactureDate}"
                           id="manufactureDateError" class="form-text bg-danger rounded">Release date cannot be in the
                        future</small>
                </div>
                <div class="col">
                    <label for="warranty"><b>Warranty</b></label>
                    <input th:field="*{warranty}"
                           id="warranty" type="text" class="form-control" placeholder="Warranty in months">
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="category"><b>Category</b></label>
                    <select th:field="*{categoryName}"
                            th:errorclass="is-invalid"
                            id="category" class="custom-select">
                        <option value="" selected>Select category</option>
                        <option
                                th:each="category : ${categoryList}"
                                th:text="${category}"
                                th:value="${category}"
                                value="">Select category</option>

                    </select>
                    <small th:if="${#fields.hasErrors('categoryName')}"
                           th:errors="*{categoryName}"
                            id="artistError" class="form-text bg-danger rounded">You must select category</small>
                </div>
                <div class="col">
                    <label for="imageUrl"><b>Picture url</b></label>
                    <input
                            th:field="*{imageUrl}"
                            id="imageUrl"
                            type="file"
                            class="form-control-file"
                            placeholder="Picture url"
                           name="imageUrl">
<!--                    <small -->
<!--                            id="imageUrlError" class="form-text bg-danger rounded">Image url must be more than 5-->
<!--                        characters</small>-->
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="details"><b>Details</b></label>
                    <textarea th:field="*{details}"
                              th:errorclass="is-invalid"
                              id="details" type="text" class="form-control" placeholder="Details"></textarea>
                    <small th:if="${#fields.hasErrors('details')}"
                           th:errors="*{details}"
                            id="detailsError" class="form-text bg-danger rounded">Description length must be more than 5
                        characters</small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit"><b>Add Product</b></button>
            </div>
        </form>
    </div>

</main>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>