<!DOCTYPE html>
<html lang="en" style="font-size: 16px;"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/Profile.css">
    <link rel="stylesheet" href="/css/Main.css" media="screen">
    <title>Profile</title>

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">
</head>

<body class="u-body">

<header th:replace="fragments/fragment::navigation"></header>

<section class="u-clearfix u-palette-3-light-1 u-section-1" id="carousel_c20a">
    <div th:object="${user}" class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-height u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
        <img th:src="*{avatarUrl}" class="u-align-left u-image u-image-1">
        <div class="u-align-left u-container-style u-group u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-custom-font u-text u-text-2" th:text="*{fullname}"><b>FUlLL Name</b></h2>
                <p class="u-text u-text-2" th:utext="|&lt;b&gt;Email:&lt;/b&gt; *{username}|"><b>Email:</b></p>
                <p class="u-text u-text-4">
                <div th:unless="*{description == null || description.isBlank()}">
                              <span style="font-weight: 700;"
                                    th:utext="|&lt;b&gt;Description:&lt;/b&gt; *{description}|">Description:</span>
                </div>
                <div th:if="*{description == null || description.isBlank()}">
                    <span style="font-weight: 700;"><b>Description: </b></span>
                    <h5>Welcome to your Profile page. Here you can add a short description about yourself!</h5>
                </div>
                </p>
                <th:block th:if="${!notOrigUser}">
                    <a th:href="@{/profile/edit/{id}(id = *{id})}"
                       class="u-btn u-button-style u-custom-color-4 u-text-body-alt-color u-btn-1">EDIT YOUR PROFILE</a>
                </th:block>

            </div>
        </div>
        <th:block th:if="${!notOrigUser}">
            <button th:if="${isRootAdmin}"
                    id="btn1_4"
                    class="u-btn u-button-style u-custom-color-3 u-text-body-alt-color"
                    style="text-align: center;  margin: -180px auto 60px 96px;  padding: 10px 70px;" type="submit"><b>MESSAGES</b>
            </button>
        </th:block>
    </div>
</section>

<th:block th:if="${!notOrigUser}">

    <section class="u-align-center u-clearfix u-section-2" id="carousel_5141_ss">
        <div id="sectionMessages" style="display: none" class="u-clearfix u-sheet u-sheet-1">
            <p th:if="${showMessages.size() == 0}" style="background-color: palegreen"> There are no messages stored in
                your
                DB. :)</p>
            <div class="u-expanded-width u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead class="u-align-center u-font-merriweather u-grey-10 u-table-header u-table-header-1">
                    <tr style="height: 21px;">
                        <th class="u-border-1 u-border-black u-table-cell">From email</th>
                        <th class="u-border-1 u-border-black u-table-cell">Category</th>
                        <th class="u-border-1 u-border-black u-table-cell">Time</th>
                        <th class="u-border-1 u-border-black u-table-cell">Message (click)</th>
                    </tr>
                    </thead>
                    <tbody class="u-align-center u-border-1  u-table-body">
                    <tr th:each="message : ${showMessages}" style="height: 55px;">
                        <td class="u-table-cell">
                            <a th:href="@{/profile/view/{id}(id = *{message.userId})}"
                               th:text="*{message.username}">Brand</a>
                        </td>
                        <td class="u-table-cell" th:text="*{message.categoryTypeEnum}">category</td>
                        <td class="u-table-cell"
                            th:text="${#temporals.format(message.getSubmittedDateTime(), 'dd-MM-yyyy HH:mm:ss')}"
                        >date:
                        </td>
                        <td class="u-table-cell">
                            <a th:href="@{/contact/message/{id}(id = *{message.getId()})}"
                               th:text="|*{message.messageText.substring(0, 20)}...|">message text</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <div th:if="${!isRootAdmin}">

        <section class=" u-align-center u-clearfix u-section-2" id="sec-46e5">
            <button type="button" id="btn2_1" class="u-text u-text-1">Your purchased products</button>
            <div id="sectionPurchased" style="display: none" class="u-clearfix u-sheet u-sheet-1">
                <br/> <br/>
                <p th:if="${userPurchasedList.size() == 0}" style="background-color: #b21f2d"> Sorry! You don't have any
                    purchased products
                    yet. :)</p>
                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                    <table class="u-table-entity u-table-entity-1">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <thead class="u-grey-50 u-table-header u-table-header-1">
                        <tr style="height: 21px;">
                            <th class="u-border-1 u-border-grey-50 u-table-cell">Brand (click)</th>
                            <th class="u-border-1 u-border-grey-50 u-table-cell">Model</th>
                            <th class="u-border-1 u-border-grey-50 u-table-cell">Date and time</th>
                            <th class="u-border-1 u-border-grey-50 u-table-cell">Price</th>
                        </tr>
                        </thead>
                        <tbody class="u-table-body">
                        <th:block th:each="purchasedProduct : ${userPurchasedList}">
                            <tr style="height: 75px;">
                                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                    <a th:href="@{/products/archived/{id}(id = *{purchasedProduct.getId()})}"
                                       th:text="*{purchasedProduct.getBrand()}">Brand</a>
                                </td>
                                <td th:text="*{purchasedProduct.getModel()}"
                                    class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                    Model
                                </td>
                                <td th:text="${#temporals.format(purchasedProduct.getPurchasedDateAndTime(), 'dd-MM-yyyy HH:mm:ss')}"
                                    class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                    Date and time
                                </td>
                                <td th:text="*{purchasedProduct.getPrice()}"
                                    class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                    Price
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="u-align-center u-clearfix u-section-3" id="sec-93fc">
            <button type="button" id="btn2_2" class="u-text u-text-1">Your sold products</button>
            <div id="sectionSold" style="display: none" class="u-clearfix u-sheet u-sheet-1">
                <p th:if="${userSoldList.size() == 0}" style="background-color: #b21f2d"> Sorry! You don't have any sold
                    products
                    yet. :)</p>
                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                    <table class="u-table-entity u-table-entity-1">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <tbody class="u-table-alt-palette-1-light-3 u-table-body">
                        <tr style="height: 65px;">
                            <td class="u-palette-3-base u-table-cell u-table-cell-1">Brand (click)</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-2">Model</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-3">Date and time</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-4">Price</td>
                        </tr>
                        <th:block th:each="soldProduct : ${userSoldList}">
                            <tr style="height: 65px;">
                                <td class="u-table-cell">
                                    <a th:href="@{/products/archived/{id}(id = *{soldProduct.getId()})}"
                                       th:text="*{soldProduct.getBrand()}">Brand</a>
                                </td>
                                <td class="u-table-cell"
                                    th:text="*{soldProduct.getModel()}">Brand
                                </td>
                                <td class="u-table-cell"
                                    th:text="${#temporals.format(soldProduct.getPurchasedDateAndTime(), 'dd-MM-yyyy HH:mm:ss')}"
                                >Date and time
                                </td>
                                <td class="u-table-cell"
                                    th:text="*{soldProduct.getPrice()}">ManufactureDate
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>

    <div th:if="${isRootAdmin}">

        <section class="u-align-center u-clearfix u-section-3" id="sec-93fc">
            <button type="button" id="btn1_1" class="u-text u-text-1">All archived products</button>
            <div id="sectionArchived" style="display: none" class="u-clearfix u-sheet u-sheet-1">
                <p th:if="${showAllArchivedProducts.size() == 0}" style="background-color: #b21f2d"> Sorry! All products
                    are
                    still in
                    the store :)</p>
                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                    <table class="u-table-entity u-table-entity-1">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <tbody class="u-table-alt-palette-1-light-3 u-table-body">
                        <tr style="height: 65px;">
                            <td class="u-palette-3-base u-table-cell u-table-cell-1">Brand and Model (click)</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-2">Date and time</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-3">Sold by</td>
                            <td class="u-palette-3-base u-table-cell u-table-cell-4">Bought by</td>
                        </tr>
                        <th:block th:each="archivedProduct : ${showAllArchivedProducts}">
                            <tr style="height: 65px;">
                                <td class="u-table-cell">
                                    <a th:href="@{/products/archived/{id}(id = *{archivedProduct.getId()})}"
                                       th:text="|*{archivedProduct.getBrand()} *{archivedProduct.getModel()}|">Brand</a>
                                </td>
                                <td class="u-table-cell"
                                    th:text="${#temporals.format(archivedProduct.getPurchasedDateAndTime(), 'dd-MM-yyyy HH:mm:ss')}">
                                    Brand
                                </td>
                                <td class="u-table-cell"
                                    th:text="*{archivedProduct.getUserEntity().getUsername()}"
                                >Date and time
                                </td>
                                <td class="u-table-cell"
                                    th:text="*{archivedProduct.getPurchasedUsername()}">ManufactureDate
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>

</th:block>


<section class="u-align-center u-clearfix u-section-4" id="sec-9d1c">
    <button type="button" id="btn1_2" class="u-text u-text-1">Your products</button>
    <div id="sectionViewProducts" style="display: none" class="u-clearfix u-sheet u-sheet-1">
        <p th:if="${userProductsList.size() == 0}" style="background-color: #b21f2d"> Sorry! You don't have any
            products
            yet. :)</p>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead class="u-palette-4-base u-table-header u-table-header-1">
                <tr style="height: 21px;">
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Product ID (click)</th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Brand</th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Model</th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Manufacture Date</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <th:block th:each="product : ${userProductsList}">
                    <tr style="height: 75px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5">
                            <a th:href="@{/products/details/{id}(id = *{product.getId()})}"
                               th:text="|ID:*{product.getId()}|">My clickable text</a>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"
                            th:text="*{product.getBrand()}">Brand
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"
                            th:text="*{product.getModel()}">Model
                        </td>
                        <td th:if="*{product.getManufactureDate() != null}"
                            class="u-border-1 u-border-grey-30 u-table-cell"
                            th:text="*{product.getManufactureDate()}">ManufactureDate
                        </td>
                        <td th:if="*{product.getManufactureDate() == null}"
                            class="u-border-1 u-border-grey-30 u-table-cell"
                        >No date entered!
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="u-align-center u-clearfix u-section-5" id="sec-6117">
    <button type="button" id="btn1_3" class="u-text u-text-1">Your stories</button>
    <div id="sectionViewStories" style="display: none" class="u-clearfix u-sheet u-sheet-1">
        <p th:if="${userStoriesList.size() == 0}" style="background-color: #b21f2d"> Sorry! You don't have any
            stories
            yet. :)</p>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead class="u-black u-table-header u-table-header-1">
                <tr style="height: 21px;">
                    <th class="u-border-1 u-border-black u-table-cell">Story ID (click)</th>
                    <th class="u-border-1 u-border-black u-table-cell">Title</th>
                    <th class="u-border-1 u-border-black u-table-cell">Short description</th>
                    <th class="u-border-1 u-border-black u-table-cell">Date</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <th:block th:each="story : ${userStoriesList}">
                    <tr style="height: 75px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            <a th:href="@{/stories/details/{id}(id = *{story.getId()})}"
                               th:text="|ID:*{story.getId()}|">My clickable text</a>
                        </td>
                        <td th:text="*{story.getTitle()}"
                            class="u-border-1 u-border-grey-30 u-table-cell">Title
                        </td>
                        <td th:text="*{story.getDescription().substring(0, 20)}"
                            class="u-border-1 u-border-grey-30 u-table-cell">Description
                        </td>
                        <td th:text="*{story.getAddedDate()}"
                            class="u-border-1 u-border-grey-30 u-table-cell">Date
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script th:src="@{/js/profile-buttons.js}"></script>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>