<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/User.css">
    <link rel="stylesheet" href="/css/Main.css" media="screen">
    <title>Register</title>

    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/page.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">

</head>

<body>

<header th:replace="fragments/fragment::navigation"></header>

<main class="content-wrap">
    <form class="mx-auto w-25 bg-blur"
          method="POST"
          th:object="${userRegistrationBindingModel}"
          th:action="@{/users/register}">
        <div style="background-color: #ccffff;">

            <br>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2">Email</label>
                </div>
                <input type="email"
                       class="form-control"
                       id="username"
                       style="text-align: center"
                       required
                       th:minlength="5"
                       th:maxlength="20"
                       th:value="*{username}"
                       th:field="*{username}"
                       th:errorclass="is-invalid"
                       name="username"/>
                <p class="text-center">
                    <small class="text-danger invalid-feedback"
                           style="font-size:20px; background-color:#ffff99;">Username error message</small>
                </p>
            </div>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2">Full Name</label>
                </div>
                <input type="text"
                       class="form-control"
                       style="text-align: center"
                       id="fullname"
                       required
                       th:minlength="5"
                       th:maxlength="30"
                       th:value="*{fullname}"
                       th:field="*{fullname}"
                       th:errorclass="is-invalid"
                       name="fullname"/>
                <p class="text-center">
                    <small class="text-danger invalid-feedback"
                           style="font-size:20px; background-color:#ffff99;">Fullname error message</small>
                </p>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password"
                       class="form-control"
                       id="password"
                       style="text-align: center"
                       required
                       th:minlength="5"
                       th:maxlength="20"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       name="password"/>
                <p class="text-center">
                    <small class="text-danger  invalid-feedback"
                           style="font-size:20px; background-color:#ffff99;">Password error message</small>
                </p>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input type="password"
                       class="form-control"
                       id="confirmPassword"
                       style="text-align: center"
                       required
                       th:minlength="5"
                       th:maxlength="20"
                       th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       name="confirmPassword"/>
                <p class="text-center">
                    <small class="text-danger invalid-feedback"
                           style="font-size:20px; background-color:#ffff99;">Password error message</small>
                </p>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button btn-warning  mb-3" value="Register">Register</button>
            </div>
            <h5 class="bg-danger rounded text-center" th:if="${userAlreadyExist}"> This user already exist!</h5>
        </div>

    </form>
</main>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>